@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
  background-color: #d6e1ef;
  margin: none;
  padding: 0;
}

.Card{
  position: absolute;
  background-color:#ffffff;
  max-width: 20vw;
  min-height: 60vh;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
  text-align: center;
  justify-items: center;
}
.Card--QR{
 max-width: 92%;
 height: auto;
 border-radius: 10px;
 margin: 15px;
}
.Card--Content__Wrapper{
  max-width: 85%;
  padding-bottom: 30px;
}

.Card--Content__Wrapper__Header{
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}
.para{
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 1.2rem;
}